<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Hellov</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1547968485337349</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.994787317423-s12t3huespupvt1e7ikgv4529io8mbfb</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>26</string>
	<key>FacebookAppID</key>
	<string>1547968485337349</string>
	<key>FacebookDisplayName</key>
	<string>Hellov</string>
	<key>FirebaseScreenReportingEnabled</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>$(PRODUCT_NAME) require to access calenders to create new events and meeting plan</string>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) require to access camera to update camera and send and receive photo</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) require to access your location to find near by user and find matches with your profile</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>$(PRODUCT_NAME) require to access your location to find near by user and find matches with your profile</string>
	<key>NSLocationUsageDescription</key>
	<string>$(PRODUCT_NAME) require to access your location to find near by user and find matches with your profile</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) require to access your location to find near by user and find matches with your profile</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME) require to access photo library to update profile photo and send and receive photo</string>
	<key>UIAppFonts</key>
	<array>
		<string>GothamBold.ttf</string>
		<string>GothamBoldItalic.ttf</string>
		<string>GothamBook.ttf</string>
		<string>GothamBookItalic.ttf</string>
		<string>GothamLight.ttf</string>
		<string>GothamLightItalic.ttf</string>
		<string>GothamMedium.ttf</string>
		<string>GothamMedium_1.ttf</string>
		<string>GothamMediumItalic.ttf</string>
		<string>Gotham-Black.otf</string>
		<string>Gotham-Bold.otf</string>
		<string>Gotham-BookItalic.otf</string>
		<string>Gotham-Light.otf</string>
		<string>Gotham-Thin.otf</string>
		<string>Gotham-ThinItalic.otf</string>
		<string>Gotham-UltraItalic.otf</string>
		<string>Gotham-XLight.otf</string>
		<string>Gotham-XLightItalic.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>kTCCServiceMediaLibrary</key>
	<string>$(PRODUCT_NAME) require to access music to share and play music</string>
</dict>
</plist>
